---
layout: default
title: 기록
nav: notes
permalink: /notes/
---
<div class="wrap-list list-page">
  <p class="list-label">NOTES</p>
  <h1 class="list-title">파고든 <em>기록</em></h1>
  {% assign cats = site.posts | map: 'topic' | uniq %}
  <div class="tabs" role="tablist">
    <button class="on" data-f="all">전체</button>{% for c in cats %}<button data-f="{{ c }}">{{ c }}</button>{% endfor %}
  </div>
  <div class="entries">
    {% for post in site.posts %}
    {% capture meta %}{{ post.date | date: '%Y. %m. %d.' }}<i>/</i>{{ post.topic }}<i>/</i>{{ post.game }}{% if post.reading %}<i>/</i>{{ post.reading }}{% endif %}{% endcapture %}
    {% include entry.html item=post cat=post.topic meta=meta %}
    {% endfor %}
  </div>
</div>
